<div ng-controller="user">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">密码修改</h1>
    </div>
    <div class="wrapper-md" ng-controller="passwordUpdateCtrl">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="form" class="bs-example form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 col-xs-4 control-label">工号/学号</label>
                                <div class="col-lg-4 col-xs-6">
                                    <label class="control-label">{{app.userId}}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-xs-4 control-label">姓名</label>
                                <div class="col-lg-4 col-xs-6">
                                    <label class="control-label">{{app.realName}}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-xs-4 control-label">新密码</label>
                                <div class="col-lg-4 col-xs-6">
                                    <input type="password" placeholder="密码（至少6位)" class="form-control" ng-model="form.password" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 col-xs-4 control-label">重复密码</label>
                                <div class="col-lg-4 col-xs-6">
                                    <input type="password" placeholder="密码（至少6位)" class="form-control" ng-model="form.password2" required>
                                </div>
                            </div>


                            <div class="form-group"></div><div class="form-group"></div>
                            <div class="form-group">
                                <div class="col-lg-6 col-xs-10 text-center">
                                    <button class="btn w-xs btn-sx btn-success" type="submit" ng-disabled="form.$invalid" ng-click="save()">提交</button>
                                </div>
                            </div>

                        </form>
                    </div>

                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>