<!-- list -->
<ul class="nav" ng-controller="NavController">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>导航菜单</span>
  </li>

  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>

      <span class="font-bold">首页</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a href="#app/home">
          <span>首页</span>
        </a>
      </li>
    </ul>
  </li>

  <li ng-if="app.degree == 1">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>

      <span class="font-bold">信息管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a href="#app/mStuInfo/addStuInfo/list">
          <span>就业信息录入</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a href="#app/mStuInfo/stuEmployInfo/list">
          <span>就业信息浏览</span>
        </a>
      </li>
    </ul>
  </li>

  <li ng-if="app.degree == 1">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>

      <span class="font-bold">统计管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a href="#app/mEmployCount/employRate/list">
          <span>就业率统计</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a href="#app/mEmployCount/employDistbt/list">
          <span>就业分布统计</span>
        </a>
      </li>
    </ul>
  </li>

  <li ng-if="app.degree == 2">
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>

      <span class="font-bold">信息管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a href="#app/sPersonalInfo/addInfo/list">
          <span>就业信息录入</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a href="#app/sPersonalInfo/personalInfo/list">
          <span>就业信息核对</span>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>

      <span class="font-bold">用户管理</span>
    </a>
    <ul class="nav nav-sub dk">
      <li ui-sref-active="active">
        <a href="#app/user/passwordUpdate/list">
          <span>密码修改</span>
        </a>
      </li>
      <li ui-sref-active="active" ng-if="app.degree == 1 && app.superManage == 1">
        <a href="#app/user/managerDefend/list">
          <span>管理员添加维护</span>
        </a>
      </li>
    </ul>
  </li>


</ul>
<!-- / list -->